* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #bea484;
    --orange: #e77127;
    --dark-color: #4A4033;
    --lighter-color: #9C866B;

}

body {
    margin:0;
    padding:0;
    background-color: var(--lighter-color);
}

.wrap {
    max-width:1000px;
    margin: auto;
    }


.header__nav {
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: var(--main-color);
width: 100%;
max-width:1000px;
margin:0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav__menu-btn {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    width:150px;
    text-align: center;
    padding: 2rem 0;
}

.nav__menu-btn:hover, .nav__menu-btn:active {
    background-color: var(--dark-color);
    color: var(--orange);
}

.header__title {
    background-color: black;
    height:40vh;
    width:100%;
    border-radius: 0 0 12px 12px;
}

.header__title section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.header__logo--big {
    height: 250px;
}

h1 {
    color: var(--orange);
    font-size: 3.5rem;
    box-shadow:0 1px 0 var(--orange)
}

.logo {
    width:50px;
    margin-right:1.5rem;
}
.recept {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.recept__card {
    padding:20px;
    width: 300px;
    height:400px;
    background-color: var(--main-color);
    margin:60px 10px;
    border-radius: 12px;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    position: relative;
}

.recept__card section {
    height: 110px;
    overflow: hidden;
}

.recept__btn {
    position: absolute;
    bottom:0;
    right:0;
    margin:1rem;
    cursor: pointer;
    padding:.4rem;
    background-color: var(--orange);
    border-radius: 8px;
    border:none;
}

.recept__btn:hover, .recept__btn:active {
    background-color: var(--dark-color);
    color: var(--orange);
}

.recept__image {
    width:100%;
    background-color: var(--dark-color);
    padding:.2rem;
    height: 200px;
    object-fit: cover;
    transform: translateY(-40px);
    border-radius: 12px;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.footer__categories {
    height:200px;
    width:200px;
    background-color: var(--main-color);
    box-shadow: 5px 5px 5px rgba(81, 47, 30, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__categories img {
    width: 150px;
    height: 150px;
}

/*
.starter {
    Photo by Pinar Kucuk on Unsplash
    background-image: url(Bilder/pinar-kucuk-N2N7svpSFxk-unsplash.jpg);
    background-size:cover;
    background-position: bottom;
}
.lunch {
    Photo by Emanuel Ekström on Unsplash
    background-image: url(Bilder/emanuel-ekstrom-qxvhDhjFy4o-unsplash.jpg);
    background-size:cover;
    background-position: center;
}
.dinner {
    Photo by Hanxiao on Unsplash
    background-image: url(Bilder/hanxiao-zzxqoEa64_0-unsplash.jpg);
    background-size:cover;
    background-position: bottom;
}
.desert {
    Photo by Yulia Khlebnikova on Unsplash 
    background-image: url(Bilder/yulia-khlebnikova-FDYbS43jUrU-unsplash.jpg);
    background-size:100%;
    background-position: center;
}*/